#viewHighscores
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

#timer
{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.title
{
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-right: 33%;
    margin-left: 33%;
}

#option1
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
    
}

#option2
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

#option3
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

#option4
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

#finalResults
{
    display: none;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

form
{
    display: none;
    margin: 0 auto;
    width: 500px;
    
}

ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li 
{
    margin-top: 1em;
}
  
label 
{
    width: 90px;
    text-align: right;
    margin-left: 33%;
    margin-right: 33%;
}
  
input,
textarea 
{
    font: 1em sans-serif;
    box-sizing: border-box;
}
button
{
    background-color: #6E5689;
    color: #fff;
    border-radius: 5px;
}

p
{
    font-style: italic;
}

#backToGame
{
    display: none;
}








