#viewHighscores
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

#timer
{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.title
{
    position: absolute;
    text-align: center;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-right: 33%;
    margin-left: 33%;
}

#option1
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
    
}

#option2
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

#option3
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

#option4
{
    display: none;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    font-size: medium;
}

button
{
    background-color: #6E5689;
    color: #fff;
    border-radius: 5px;
}

p
{
    font-style: italic;
}








